alembic
click
httptools
import-string
itsdangerous
Mako
manage.py
MarkupSafe
mimeparse
python-dateutil
sanic==18.12
six
SQLAlchemy
ujson
uvloop
websockets==5.0
jinja2
requests
aiohttp
psycopg2-binary
sanic_cors
redis
#PyCrypto
#cloudant
bcrypt
Pillow
aiosmtplib
apscheduler
git+https://github.com/gonrin/gatco.git
git+https://github.com/gonrin/gatco_auth.git
git+https://github.com/gonrin/gatco_sqlalchemy.git
git+https://github.com/gonrin/gatco_apimanager.git
git+https://github.com/gonrin/gatco_acl.git
git+https://github.com/gonrin/gatco_jinja2.git
#git+https://github.com/gonrin/gatco_couchdb
motor
