.data-table tr td, .data-table tr th {
    border: 1px solid black !important;
}
.data-table thead tr th {
    text-align:center;
}


.data-table{
		border-collapse: collapse;
		width:100%;
}

.heading-table tr td, .heading-table tr th {
    border: 0px;
}


.heading-table{
	border-collapse: collapse;
	margin-top: 10px;
	margin-bottom: 20px;
}

.toolbar-group{
	margin-right:10px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-top-20{
	margin-top:20px;
}

.margin-bottom-10{
	margin-bottom:10px;
}

.margin-bottom-20{
	margin-bottom:20px;
}

.btn-listitem{
	margin-bottom:5px;
}

.align-right{
	float:right;
	text-align: right;
}
.icon-canboyte{
	background: url("../images/canboyte.ico");
	 display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 10px;
}
.icon-giadinh{
	background: url("../images/giadinh.png");
	 display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 10px;
}

li.tabarrow{
	color: #FFFFFF;
	background-color: #428bca;
}

li.tabarrow:hover a{
	color: #337ab7!important;
}

li.tabarrow::after {
    position: absolute;
    top: 8px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 34px;
    height: 34px;
    border: 1px solid #5f6d77;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-width: 1px 1px 0 0;
    background: #428bca;
    content: "";
    right: -17px;
    /*z-index: 2;*/
}

.nav > li > a {
    padding-right: 30px!important;
    padding-left: 30px!important;
}

li.tabarrow a{
	color: #FFFFFF;
}

.page-notification{
	position: fixed;
	right:10px;
	bottom:20px;
	z-index:200;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5);
	box-shadow: 0 5px 5px rgba(0,0,0,.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	outline: 0;
	background: #fff;
	padding:10px;
}


.input-NghiNgoNhiemBenh{
	border:none;
	border-bottom:1px dotted black;
	padding-left: 1%;
	
}
.input-nghinhiembenh{
	border:none;
	border-bottom:1px dotted black;
	padding-left: 1%;
	width: 100% !important;
}
.flexboxer{
		display: flex;
}
.flexboxer label{
	padding-top: 5px;
}

.hide_selectdonvi .form-control.ref-form-control {
    min-width: 170px !important;
}
.select_time .input-group.date-group {
/* #tungay-input { */
	max-width: 200px !important;
}
.input-right {
	padding-right: 30px !important;
}