{% extends "email/layout.html" %}
{% block content %}
 <style>
 .form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
@media (max-width: 575.98px) {
  .content-login {
    padding: 0px;
  }
@media (min-width: 992px) {
  .content-login {
    padding: 15px;
  }
</style>

<div class="container">
    <div class="row  justify-content-md-center">
        <div class="col-md-5 col-sm-12 content-login">
            
            <div class="account-wall ">
            	<h1 class="text-center login-title">Lấy lại mật khẩu</h1>
                <img class="profile-img" src="/static/img/icon-yte.jpg" alt="">
                <form action="/api/reset_password" method="POST" name="reset_password_form" id="login-form" class="form-signin needs-validation" novalidate>
	                <div class="form-row py-2">
	                	<input type="hidden" name="token" value="{{token}}"/>
	                	<div class="col-md-12">
	                		<label>Nhập mật khẩu mới</label>
	                		<input class="form-control" placeholder="Nhập mật khẩu mới" required="" autofocus="" type="password" name="password">
			                <div class="invalid-feedback">
					        	Vui lòng nhập mật khẩu mới!
					        </div>
	                	</div>
	                	<div class="col-md-12">
	                		<label>Nhập lại mật khẩu</label>
	                		<input class="form-control" placeholder="Nhắc lại mật khẩu"  required="" type="password" name="confirm_password">
			                <div class="invalid-feedback">
					        	Vui lòng nhắc lại mật khẩu!
					        </div>
	                	</div>
	                	
	                </div>
	                
                	<button class="btn btn-info" type="submit">Cập nhật</button>
                	<a href="#login" class="btn btn-default" >Hủy bỏ</a>
                </form>
                {% endblock %}
            </div>
            
            
        </div>
    </div>
</div>
