<td></td>
<!-- <td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:sothutu" type="text"/></td> -->
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:hoten" type="text"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:namsinh" type="number"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:gioitinh" type="text"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:noiden" type="text"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:quoctich" type="text"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:ngaygio_phathien" type="text"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:tinhtrang" type="text"/></td>
<td><input class=" input-nghinhiembenh" data-nguoitiepxuc-bind="value:huongxuly" type="text"/></td>