{% extends "medicalform/layout.html" %}
{% block content %}


<div class="container">
    <h4 class="d-flex justify-content-center">TỜ KHAI Y TẾ ĐỐI VỚI NGƯỜI</h4>
    <p style="font-size: 80%; margin-top: 10px;"><b>Đây là tài liệu quan trọng, thông tin của Anh/Chị sẽ giúp cơ quan y
            tế
            liên lạc khi cần thiết để phòng chống dịch bệnh truyền nhiễm.</b>
    </p>
    <div class="" style="margin-bottom:10px;margin-top:20px">
        <div class="col-md-12 text-right ">
            <label style="color: red;" id="ngaykekhai">Ngày {{ngaykekhai}}</label>
        </div>
    </div>
    <div class="" style="margin-bottom:10px;">
        <div><label>Họ tên (viết chữ in hoa):</label></div>
        <div>
            <input type="text" class='form-control' id="tenkhach" value="{{hoten}}">
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Năm sinh:</label></div>
            <div class="">
                <input type="number" class='form-control' id="namsinh" value={{namsinh}} />
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Giới tính:</label></div>
            <select class="custom-select gioitinh">
                <option selected>Giới tính</option>
                <option value="1">Nam</option>
                <option value="2">Nữ</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Quốc tịch:</label></div>
            <div class="">
                <input type="text" class='form-control' id="quoctich" value="{{quoctich}}" />
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Số hộ chiếu:</label></div>
            <div class="">
                <input type="text" class='form-control' id="hochieu" value="{{sohochieu}}" />
            </div>
        </div>
    </div>

    <div>
        <div><label>Thông tin đi lại: </label></div>
    </div>
    <div class="row col-12">
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_taubay">
            <label class="custom-control-label" for="thongtindilai_taubay">Tàu bay</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_tauthuyen">
            <label class="custom-control-label" for="thongtindilai_tauthuyen">Tàu thuyền</label>
        </div>
    </div>
    <div class="row col-12">
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_oto">
            <label class="custom-control-label" for="thongtindilai_oto">Ô tô</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_khac">
            <label class="custom-control-label" for="thongtindilai_khac">Khác (Ghi rõ)</label>
        </div>
    </div>


    <div class=" text-center" style="margin-bottom:10px">
        <div class="col-md-12 col-12 p-0">
            <textarea type="text" class='form-control' id="phuongtien"
                placeholder="Viết rõ phương tiện đi lại">{{thongtindilai_chitiet}}</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Số hiệu phương tiện:</label></div>
            <div class="">
                <input type="text" class='form-control' id="sohieu" value="{{sohieu_phuongtien}}" />
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Số ghế:</label></div>
            <div class="">
                <input type="text" class='form-control' id="soghe" value="{{soghe_phuongtien}}" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Ngày khởi hành:</label></div>
            <div class="">
                <input type="text" class='form-control' placeholder="ví dụ: 20/12/2019" id="ngaykhoihanh"
                    value={{ngay_khoihanh}}>
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div class=""><label>Ngày nhập cảnh:</label></div>
            <div class="">
                <input type="text" class='form-control' placeholder="ví dụ: 20/12/2019" id="ngaynhapcanh"
                    value="{{ngay_nhapcanh}}" />
            </div>
        </div>
    </div>

    <div>
        <div><label><b>Địa điểm khởi hành</b></label></div>
    </div>
    <div class="row">
        <div class="col-12" style="margin-bottom:10px;">
            <div class=""><label>Tỉnh/Quốc gia:</label></div>
            <div class="">
                <input type="text" class='form-control' id="quocgiakhoihanh" value="{{noi_khoihanh}}" />
            </div>
        </div>
    </div>

    <div>
        <div><label><b>Địa điểm nơi đến</b></label></div>
    </div>
    <div class="row">

        <div class="col-12" style="margin-bottom:10px;">
            <div class=""><label>Tỉnh/Quốc gia:</label></div>
            <div class="">
                <input type="text" class='form-control' id="quocgianoiden" value="{{noiden}}" />
            </div>
        </div>
    </div>

    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label>
                <b>Trong vòng 14 ngày qua, Anh/Chị có đến quốc gia/vùng lãnh thổ nào không? (nếu có ghi rõ):</b>
            </label>
        </div>
        <div class="col-md-12">
            <textarea type="text" class='form-control' id="noidiqua" />{{quocgiadiqua}}</textarea>
        </div>
    </div>

    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 text-left "><label><b>Địa chỉ liên lạc tại Việt Nam </b></label></div>
    </div>
    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 col-12 text-left "><label>Địa chỉ nơi ở tại Việt Nam </label></div>
        <div class="col-md-12 col-12">
            <textarea type="text" class='form-control' id="noioviwetnam" />{{diachi_taivietnam}}</textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-5" style="margin-bottom:10px;">
            <div class=""><label>Điện thoại:</label></div>
            <div class="">
                <input type="text" class='form-control' id="dienthoai" value="{{sodienthoai}}" />
            </div>
        </div>
        <div class="col-7" style="margin-bottom:10px;">
            <div class=""><label>Email:</label></div>
            <div class="">
                <input type="text" class='form-control' id="email" value="{{email}}" />
            </div>
        </div>
    </div>


    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label>
                <b>Trong vòng 14 ngày (tính đến thời điểm làm thủ tục xuất cảnh,
                    nhập cảnh, quá cảnh) Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không?</b>
            </label>
        </div>

    </div>
    <table class="table">
        <tr>
            <th>Triệu chứng</th>
            <th class="text-center">Có</th>
            <th class="text-center">Không</th>
        </tr>
        <tbody>
            <tr>
                <td>Sốt</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline1" name="customRadioInline12"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline2" name="customRadioInline12"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline2"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Ho</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline3" name="customRadioInline34"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline3"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline4" name="customRadioInline34"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline4"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Khó thở </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline5" name="customRadioInline56"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline5"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline6" name="customRadioInline56"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline6"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Đau họng</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline7" name="customRadioInline78"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline7"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline8" name="customRadioInline78"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline8"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Nôn/buồn nôn</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline9" name="customRadioInline910"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline9"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline10" name="customRadioInline910"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline10"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Tiêu chảy</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline11" name="customRadioInline1112"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline11"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline12" name="customRadioInline1112"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline12"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Xuất huyết ngoài da</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline13" name="customRadioInline1314"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline13"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline14" name="customRadioInline1314"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline14"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Nổi ban ngoài da</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline15" name="customRadioInline1516"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline15"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadioInline16" name="customRadioInline1516"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline16"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label><b>Liệt kê tên vắc xin hoặc sinh phẩm y tế đã sử dụng:</b></label>
        </div>
        <div class="col-md-12">
            <textarea type="text" class='form-control' id="vacxin" /></textarea>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label><b>Lịch sử phơi nhiễm: Trong vòng 14 ngày qua, Anh/Chị có:</b></label>
        </div>
    </div>
    <table class="table">

        <tbody>
            <tr>
                <td>Đến trang trại chăn nuôi/ chợ buôn bán động vật sống/ cơ sở giết mổ động vật/ tiếp xúc động
                    vật
                </td>
                <td class="text-left">
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="customRadioInline17" name="customRadioInline1718"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="customRadioInline17">Có</label>
                    </div>
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="customRadioInline18" name="customRadioInline1718"
                            class="custom-control-input" value=2>
                        <label class="custom-control-label" for="customRadioInline18">Không</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Trực tiếp chăm sóc người bệnh truyền nhiễm</td>
                <td class="text-left">
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="customRadioInline19" name="customRadioInline1920"
                            class="custom-control-input customRadioInline1920" value=1>
                        <label class="custom-control-label" for="customRadioInline19">Có</label>
                    </div>
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="customRadioInline20" name="customRadioInline1920"
                            class="custom-control-input customRadioInline1920" value=2>
                        <label class="custom-control-label" for="customRadioInline20">Không</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <p style="font-size: 80%;">
                <b>Tôi cam kết những thông tin trên là đúng sự thật, tôi hiểu rằng nếu cung cấp sai thông tin có
                    thể dẫn đến những hậu quả nghiêm trọng.</b>
            </p>
        </div>
    </div>


    <div class="row" style="margin-bottom:40px;">
        <div class="col-6" style="margin-bottom:10px;" id="inline-badge-capcha">
        </div>
        <div class="col-6 text-center" style="margin-bottom:10px;">
            <button class="btn btn-success" id="btn-luu"><i class="fa fa-save"></i> Lưu</button>
        </div>
    </div>
    <!--<h6 class="d-flex justify-content-center" style="margin-bottom:30px;font-size:12px">Vì sức khỏe của Anh/ Chị và của cộng đồng nếu Anh/ Chị thấy xuất hiện bất
        cứ dấu hiệu bất thường về sức khỏe, đề nghị liên hệ ngay với cơ quan kiểm dịch y tế biên giới tại cửa khẩu hoặc
        cơ quan y tế nơi gần nhất </h6>-->
</div>
<script>
    $(document).ready(function () {
        var data;
        //Đẩy dữ liệu vào form
        if ("{{id}}" !== null) {
            data = {
               
                "gioitinh": "{{gioitinh}}",
                
                "dauhieubenh_sot": "{{dauhieubenh_sot}}",
                "dauhieubenh_ho": "{{dauhieubenh_ho}}",
                "dauhieubenh_khotho": "{{dauhieubenh_khotho}}",
                "dauhieubenh_dauhong": "{{dauhieubenh_dauhong}}",
                "dauhieubenh_buonnon": "{{dauhieubenh_buonnon}}",
                "dauhieubenh_tieuchay": "{{dauhieubenh_tieuchay}}",
                "dauhieubenh_xuathuyetngoaida": "{{dauhieubenh_xuathuyetngoaida}}",
                "dauhieubenh_phatban": "{{dauhieubenh_phatban}}",
                "tiepxuc_dongvat": "{{tiepxuc_dongvat}}",
                "chamsocnguoibenhtruyennhiem": "{{chamsocnguoibenhtruyennhiem}}"
            }
        }

        //Hiên thi kết quả check box thông tin đi lại
        var thongtindilai = [
            {"text":"thongtindilai_taubay","value":"{{thongtindilai_taubay}}"},
            {"text":"thongtindilai_tauthuyen","value":"{{thongtindilai_tauthuyen}}"},
            {"text":"thongtindilai_oto","value":"{{thongtindilai_oto}}"},
            {"text":"thongtindilai_khac","value":"{{thongtindilai_khac}}"},
        ]
        thongtindilai.forEach(function (item, index) {
            if(item.value == 1){
                $('#'+item.text).prop('checked', true);
            }
        })


    

        //Chọn giới tính
        var selectedGioiTinh;
        $("select.gioitinh").change(function () {
            selectedGioiTinh = $(this).children("option:selected").val();
        });
        //Cài ngày hôm nay 
        var d = new Date();
        var ngaysoan = d.getDate() + '/' + d.getMonth() + '/' + d.getFullYear();
        $('#ngaykekhai').html('Ngày khai:' + ngaysoan)
        //Giá trị radio
        var dauhieubenh_sot = null;
        var dauhieubenh_ho = null;
        var dauhieubenh_khotho = null;
        var dauhieubenh_dauhong = null;
        var dauhieubenh_buonnon = null;
        var dauhieubenh_tieuchay = null;
        var dauhieubenh_xuathuyetngoaida = null;
        var dauhieubenh_phatban = null;
        var tiepxuc_dongvat = null;
        var chamsocnguoibenhtruyennhiem = null;
        var thongtindilai_taubay = null;
        var thongtindilai_tauthuyen = null;
        var thongtindilai_oto = null;
        var thongtindilai_khac = null;

        // Ẩn chức năng lưu          
        if ("{{id}}" !== "") {
            $('#btn-luu').hide();
        }
        //Gửi dữ liệu lên server
        $('#btn-luu').unbind('click').bind('click', function () {
            var checkedValue = [];
            var inputElements = document.getElementsByClassName('phuongtien');
            for (var i = 0; inputElements[i]; ++i) {
                if (inputElements[i].checked) {
                    checkedValue.push({ 'id': i, "value": 1 });
                }
                else {
                    checkedValue.push({ 'id': i, "value": 2 });
                }
            }

            checkedValue.forEach(function (item, index) {
                if (item.id == 0) {
                    thongtindilai_taubay = Number(item.value)
                }
                if (item.id == 1) {
                    thongtindilai_tauthuyen = Number(item.value)
                }

                if (item.id == 2) {
                    thongtindilai_oto = Number(item.value)
                }

                if (item.id == 3) {
                    thongtindilai_khac = Number(item.value)
                }
            })

            var valueRadio = [];
            var danhsachRadio = [
                'customRadioInline12',
                'customRadioInline34',
                'customRadioInline56',
                'customRadioInline78',
                'customRadioInline910',
                'customRadioInline1112',
                'customRadioInline1314',
                'customRadioInline1516',
                'customRadioInline1718',
                'customRadioInline1920',
            ]
            var valuex;
            danhsachRadio.forEach(function (item, index) {
                var radios = document.getElementsByName(item);
                for (var i = 0, length = radios.length; i < length; i++) {
                    if (radios[i].checked) {
                        valuex = radios[i].value;
                        valueRadio.push({ 'id': index, 'value': valuex })
                        break;
                    }
                }
            })
            valueRadio.forEach(function (item, index) {
                if (item.id == 0) {
                    dauhieubenh_sot = Number(item.value)
                }
                if (item.id == 9) {
                    chamsocnguoibenhtruyennhiem = Number(item.value)
                }
                if (item.id == 8) {
                    tiepxuc_dongvat = Number(item.value)
                }

                if (item.id == 7) {
                    dauhieubenh_phatban = Number(item.value)
                }

                if (item.id == 6) {
                    dauhieubenh_xuathuyetngoaida = Number(item.value)
                }
                if (item.id == 5) {
                    dauhieubenh_tieuchay = Number(item.value)
                }
                if (item.id == 4) {
                    dauhieubenh_buonnon = Number(item.value)
                }

                if (item.id == 3) {
                    dauhieubenh_dauhong = Number(item.value)
                }
                if (item.id == 2) {
                    dauhieubenh_khotho = Number(item.value)
                }

                if (item.id == 1) {
                    dauhieubenh_ho = Number(item.value)
                }

            })
            data = {
                "id": null,
                "ngaykekhai": String(ngaysoan),
                "cuakhau_id": Number("{{cuakhau_id}}"),
                "tencuakhau": "{{tencuakhau}}",
                "macuakhau": null,
                "donvi_id": Number("{{donvi_id}}"),
                "tendonvi": null,
                "madonvi": null,
                "canbo_id": null,
                "tencanbo": null,
                "emailcanbo": null,
                "hoten": $('#tenkhach').val(),
                "namsinh": $('#namsinh').val(),
                "gioitinh": selectedGioiTinh,
                "quoctich": $('#quoctich').val(),
                "sohochieu": $('#hochieu').val(),
                "thongtindilai_taubay": thongtindilai_taubay,
                "thongtindilai_tauthuyen": thongtindilai_tauthuyen,
                "thongtindilai_oto": thongtindilai_oto,
                "thongtindilai_khac": thongtindilai_khac,
                "thongtindilai_chitiet": $('#phuongtien').val(),
                "sohieu_phuongtien": $('#sohieu').val(),
                "soghe_phuongtien": $('#soghe').val(),
                "ngay_khoihanh": $('#ngaykhoihanh').val(),
                "ngay_nhapcanh": $('#ngaynhapcanh').val(),
                "noi_khoihanh": $('#quocgiakhoihanh').val(),
                "noiden": $('#quocgianoiden').val(),
                "quocgiadiqua": $('#noidiqua').val(),
                "diachi_taivietnam": $('#noioviwetnam').val(),
                "sodienthoai": $('#dienthoai').val(),
                "email": $('#email').val(),
                "dauhieubenh_sot": dauhieubenh_sot,
                "dauhieubenh_ho": dauhieubenh_ho,
                "dauhieubenh_khotho": dauhieubenh_khotho,
                "dauhieubenh_dauhong": dauhieubenh_dauhong,
                "dauhieubenh_buonnon": dauhieubenh_buonnon,
                "dauhieubenh_tieuchay": dauhieubenh_tieuchay,
                "dauhieubenh_xuathuyetngoaida": dauhieubenh_xuathuyetngoaida,
                "dauhieubenh_phatban": dauhieubenh_phatban,
                "vacxin_dasudung": $('#vacxin').val(),
                "tiepxuc_dongvat": tiepxuc_dongvat,
                "chamsocnguoibenhtruyennhiem": chamsocnguoibenhtruyennhiem,
                "ngaygio_phathien": null,
                "tinhtrang": null,
                "cachlytaptrung": null,
                "trangthai": null,
                "note": null,
                "extra_data": null
            }

            $.ajax({
                type: "POST",
                url: location.origin + "/api/v1/tokhaiyte",
                data: JSON.stringify(data),
                contentType: "application/json",

                success: function (response) {
                    localStorage.setItem('MaToKhai', response.id);
                    window.location = location.origin + "/medicalform/qr/{{cuakhau_id}}/" + localStorage.getItem('MaToKhai');

                },
                error: function (response) {

                }
            });
        })

    });

</script>

{% endblock %}

{% block head_script %}
<!--<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=onRecaptchaLoadCallback"></script>-->

<script>

    function onRecaptchaLoadCallback() {
        var clientId = grecaptcha.render('inline-badge-capcha', {
            'sitekey': '6Lddk9YUAAAAAE1c8RtfE2Oki5ZLdcZAzm1sYTmX',
            'badge': 'inline',
            'size': 'invisible'
        });

        grecaptcha.ready(function () {
            grecaptcha.execute(clientId, {
                action: 'homepage'
            }).then(function (token) {
                // Verify the token on the server.
                console.log(token, "token");
            });
        });
    }


</script>
{% endblock %}