{% extends "medicalform/layout.html" %}

{% block head_script %}
<!--<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=onRecaptchaLoadCallback"></script>-->

<!-- <script>

    function onRecaptchaLoadCallback() {
        var clientId = grecaptcha.render('inline-badge-capcha', {
            'sitekey': '6Lddk9YUAAAAAE1c8RtfE2Oki5ZLdcZAzm1sYTmX',
            'badge': 'inline',
            'size': 'invisible'
        });

        grecaptcha.ready(function () {
            grecaptcha.execute(clientId, {
                action: 'homepage'
            }).then(function (token) {
                // Verify the token on the server.
                console.log(token, "token");
            });
        });
    }

    
</script> -->
<script src="/{{static_url}}/js/form/form.js"></script>
{% endblock %}

{% block content %}


<div class="container">
    <h4 class="d-flex justify-content-center">TỜ KHAI Y TẾ ĐỐI VỚI NGƯỜI</h4>
    <p style="font-size: 80%; margin-top: 10px;" class="text-center"><b>Đây là tài liệu quan trọng, thông tin của Anh/Chị sẽ giúp cơ quan y tế
            liên lạc khi cần thiết để phòng chống dịch bệnh truyền nhiễm.</b>
    </p>
    <div class="row">
        <div class="col-md-6 col-6 text-left">
            <label style="color: red;" id="maToKhai"></label>
        </div>
        <div class="col-md-6 col-6 text-right ">
            <label style="color: red;" id="ngaykekhai"></label>
        </div>
    </div>
    <div style="margin-bottom:10px;">
        <div><label>Họ tên (viết chữ in hoa):</label></div>
        <div>
            <input type="text" class='form-control' id="hoten" data-name="hoten" data-type="string" >
        </div>
    </div>
    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Năm sinh:</label></div>
            <div>
                <input type="number" class='form-control' id="namsinh" data-name="namsinh" data-type="number"/>
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Giới tính:</label></div>
            <select class="custom-select gioitinh" data-name="gioitinh" data-type="string">
                <option value="Nam">Nam</option>
                <option value="Nữ">Nữ</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Quộc tịch:</label></div>
            <select class="custom-select quoctich" data-name="quoctich" data-type="string">
                <option value="Vietnam">Việt Nam</option>
                <option value="China">Trung Quốc</option>
                <option value="Laos">Lào</option>
                <option value="Cambodia">Campuchia</option>
                <option value="South Korea">Hàn Quốc</option>
                <option value="Japan">Nhật Bản</option>

                <option value="Afghanistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <option value="Antarctica">Antarctica</option>
                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                <option value="Botswana">Botswana</option>
                <option value="Bouvet Island">Bouvet Island</option>
                <option value="Brazil">Brazil</option>
                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>

                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Chile">Chile</option>

                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="The Democratic Republic of Congo">The Democratic Republic of Congo</option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Ivory Coast">Ivory Coast</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="East Timor">East Timor</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="England">England</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands">Falkland Islands</option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji Islands">Fiji Islands</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern territories">French Southern territories</option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guernsey">Guernsey</option>
                <option value="Guinea">Guinea</option>
                <option value="Guinea-Bissau">Guinea-Bissau</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Israel">Israel</option>
                <option value="Isle of Man">Isle of Man</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>

                <option value="Jersey">Jersey</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>

                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macao">Macao</option>
                <option value="North Macedonia">North Macedonia</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malawi">Malawi</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                <option value="Moldova">Moldova</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Montenegro">Montenegro</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Namibia">Namibia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherlands">Netherlands</option>
                <option value="Netherlands Antilles">Netherlands Antilles</option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="North Korea">North Korea</option>
                <option value="Northern Ireland">Northern Ireland</option>
                <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palau">Palau</option>
                <option value="Palestine">Palestine</option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Philippines">Philippines</option>
                <option value="Pitcairn">Pitcairn</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Reunion">Reunion</option>
                <option value="Romania">Romania</option>
                <option value="Russian Federation">Russian Federation</option>
                <option value="Rwanda">Rwanda</option>
                <option value="Saint Helena">Saint Helena</option>
                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                <option value="Saint Lucia">Saint Lucia</option>
                <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                <option value="Samoa">Samoa</option>
                <option value="San Marino">San Marino</option>
                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Scotland">Scotland</option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia">Serbia</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Africa">South Africa</option>
                <option value="South Georgia and the South Sandwich Islands">South Georgia and the South
                    Sandwich Islands</option>

                <option value="South Sudan">South Sudan</option>
                <option value="Spain">Spain</option>
                <option value="SriLanka">SriLanka</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Thailand">Thailand</option>
                <option value="Timor-Leste">Timor-Leste</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Emirates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States">United States</option>
                <option value="United States Minor Outlying Islands">United States Minor Outlying Islands
                </option>
                <option value="Uruguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Venezuela">Venezuela</option>

                <option value="Virgin Islands, British">Virgin Islands, British</option>
                <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                <option value="Wales">Wales</option>
                <option value="Wallis and Futuna">Wallis and Futuna</option>
                <option value="Western Sahara">Western Sahara</option>
                <option value="Yemen">Yemen</option>
                <option value="Yugoslavia">Yugoslavia</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
            </select>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Số hộ chiếu:</label></div>
            <div>
                <input type="text" class='form-control' id="cmtnd" data-name="cmtnd" data-type="string" />
            </div>
        </div>
    </div>

    <div>
        <div><label>Thông tin đi lại: </label></div>
    </div>
    <div class="row col-12">
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_taubay" data-name="thongtindilai_taubay" data-type="number" data-control="checkbox">
            <label class="custom-control-label" for="thongtindilai_taubay">Tàu bay</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_tauthuyen" data-name="thongtindilai_tauthuyen" data-type="number" data-control="checkbox">
            <label class="custom-control-label" for="thongtindilai_tauthuyen">Tàu thuyền</label>
        </div>
    </div>
    <div class="row col-12">
        <div class="custom-control custom-checkbox col-6">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_oto" data-name="thongtindilai_oto" data-type="number" data-control="checkbox">
            <label class="custom-control-label" for="thongtindilai_oto">Ô tô</label>
        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input phuongtien" id="thongtindilai_khac" data-name="thongtindilai_khac" data-type="number" data-control="checkbox">
            <label class="custom-control-label" for="thongtindilai_khac">Khác (Ghi rõ)</label>
        </div>
    </div>


    <div class=" text-center" style="margin-bottom:10px">
        <div class="col-md-12 col-12 p-0">
            <textarea type="text" class='form-control' id="thongtindilai_chitiet" data-name="thongtindilai_chitiet" data-type="string"
                placeholder="Viết rõ phương tiện đi lại"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Số hiệu phương tiện:</label></div>
            <div>
                <input type="text" class='form-control' id="sohieu_phuongtien"  data-name="sohieu_phuongtien" data-type="string" />
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Số ghế:</label></div>
            <div>
                <input type="text" class='form-control' id="soghe_phuongtien" data-name="soghe_phuongtien" data-type="string" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Ngày khởi hành:</label></div>
            <div>
                <input type="date" class='form-control' placeholder="ví dụ: 20/12/2019" id="ngay_khoihanh" data-name="ngay_khoihanh" data-type="string">
            </div>
        </div>
        <div class="col-6" style="margin-bottom:10px;">
            <div><label>Ngày nhập cảnh:</label></div>
            <div>
                <input type="date" class='form-control' placeholder="ví dụ: 20/12/2019" id="ngay_nhapcanh" data-name="ngay_nhapcanh" data-type="string"
                    />
            </div>
        </div>
    </div>

    <div>
        <div><label><b>Địa điểm khởi hành</b></label></div>
    </div>
    <div class="row">
        <div class="col-12" style="margin-bottom:10px;">
            <div><label>Tỉnh/Quốc gia:</label></div>
            <div>
                <input type="text" class='form-control' id="noi_khoihanh"  data-name="noi_khoihanh" data-type="string" />
            </div>
        </div>
    </div>

    <div>
        <div><label><b>Địa điểm nơi đến</b></label></div>
    </div>
    <div class="row">

        <div class="col-12" style="margin-bottom:10px;">
            <div><label>Tỉnh/Quốc gia:</label></div>
            <div>
                <input type="text" class='form-control' id="noiden" data-name="noiden" data-type="string" />
            </div>
        </div>
    </div>

    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label>
                <b>Trong vòng 14 ngày qua, Anh/Chị có đến quốc gia/vùng lãnh thổ nào không? (nếu có ghi rõ):</b>
            </label>
        </div>
        <div class="col-md-12">
            <textarea type="text" class='form-control' id="quocgiadiqua" data-name="quocgiadiqua" data-type="string" ></textarea>
        </div>
    </div>

    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 text-left "><label><b>Địa chỉ liên lạc tại Việt Nam </b></label></div>
    </div>
    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 col-12 text-left "><label>Địa chỉ nơi ở tại Việt Nam </label></div>
        <div class="col-md-12 col-12">
            <textarea type="text" class='form-control' id="diachi_taivietnam" data-name="diachi_taivietnam" data-type="string" /></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-5" style="margin-bottom:10px;">
            <div><label>Điện thoại:</label></div>
            <div>
                <input type="text" class='form-control' id="sodienthoai" data-name="sodienthoai" data-type="string"/>
            </div>
        </div>
        <div class="col-7" style="margin-bottom:10px;">
            <div><label>Email:</label></div>
            <div>
                <input type="text" class='form-control' id="email" data-name="email" data-type="string"  />
            </div>
        </div>
    </div>


    <div class="row text-center" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label>
                <b>Trong vòng 14 ngày (tính đến thời điểm làm thủ tục xuất cảnh,
                    nhập cảnh, quá cảnh) Anh/Chị có thấy xuất hiện dấu hiệu nào sau đây không?</b>
            </label>
        </div>

    </div>
    <table class="table">
        <tr>
            <th>Triệu chứng</th>
            <th class="text-center">Có</th>
            <th class="text-center">Không</th>
        </tr>
        <tbody>
            <tr>
                <td>Sốt</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_sot1" name="dauhieubenh_sot" data-name="dauhieubenh_sot" data-type="number" data-control="radio" class="custom-control-input"
                            value=1>
                        <label class="custom-control-label" for="dauhieubenh_sot1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_sot0" name="dauhieubenh_sot" data-name="dauhieubenh_sot" data-type="number" data-control="radio" class="custom-control-input"
                            value=0>
                        <label class="custom-control-label" for="dauhieubenh_sot0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Ho</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_ho1" name="dauhieubenh_ho" data-name="dauhieubenh_ho" data-type="number" data-control="radio" class="custom-control-input"
                            value=1>
                        <label class="custom-control-label" for="dauhieubenh_ho1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_ho0" name="dauhieubenh_ho" data-name="dauhieubenh_ho" data-type="number" data-control="radio" class="custom-control-input"
                            value=0>
                        <label class="custom-control-label" for="dauhieubenh_ho0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Khó thở </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_khotho1" name="dauhieubenh_khotho"
                            class="custom-control-input" value=1 data-name="dauhieubenh_khotho" data-type="number" data-control="radio">
                        <label class="custom-control-label" for="dauhieubenh_khotho1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_khotho0" name="dauhieubenh_khotho" data-name="dauhieubenh_khotho" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="dauhieubenh_khotho0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Đau họng</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_dauhong1" name="dauhieubenh_dauhong" data-name="dauhieubenh_dauhong" data-type="number" data-control="radio"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="dauhieubenh_dauhong1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_dauhong0" name="dauhieubenh_dauhong" data-name="dauhieubenh_dauhong" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="dauhieubenh_dauhong0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Nôn/buồn nôn</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_buonnon1" name="dauhieubenh_buonnon" data-name="dauhieubenh_buonnon" data-type="number" data-control="radio"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="dauhieubenh_buonnon1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_buonnon0" name="dauhieubenh_buonnon" data-name="dauhieubenh_buonnon" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="dauhieubenh_buonnon0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td> Tiêu chảy</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_tieuchay1" name="dauhieubenh_tieuchay" data-name="dauhieubenh_tieuchay" data-type="number" data-control="radio"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="dauhieubenh_tieuchay1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_tieuchay0" name="dauhieubenh_tieuchay" data-name="dauhieubenh_tieuchay" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="dauhieubenh_tieuchay0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Xuất huyết ngoài da</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_xuathuyetngoaida1" name="dauhieubenh_xuathuyetngoaida" data-name="dauhieubenh_xuathuyetngoaida" data-type="number" data-control="radio"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="dauhieubenh_xuathuyetngoaida1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_xuathuyetngoaida0" name="dauhieubenh_xuathuyetngoaida" data-name="dauhieubenh_xuathuyetngoaida" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="dauhieubenh_xuathuyetngoaida0"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Nổi ban ngoài da</td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_phatban1" name="dauhieubenh_phatban" data-name="dauhieubenh_phatban" data-type="number" data-control="radio"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="dauhieubenh_phatban1"></label>
                    </div>
                </td>
                <td class="text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="dauhieubenh_phatban0" name="dauhieubenh_phatban" data-name="dauhieubenh_phatban" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="dauhieubenh_phatban0"></label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label><b>Liệt kê tên vắc xin hoặc sinh phẩm y tế đã sử dụng:</b></label>
        </div>
        <div class="col-md-12">
            <textarea type="text" class='form-control' id="vacxin_dasudung" data-name="vacxin_dasudung" data-type="string" /></textarea>
        </div>
    </div>
    <div class="row" style="margin-bottom:10px">
        <div class="col-md-12 text-left ">
            <label><b>Lịch sử phơi nhiễm: Trong vòng 14 ngày qua, Anh/Chị có:</b></label>
        </div>
    </div>
    <table class="table">

        <tbody>
            <tr>
                <td>Đến trang trại chăn nuôi/ chợ buôn bán động vật sống/ cơ sở giết mổ động vật/ tiếp xúc động
                    vật
                </td>
                <td class="text-left">
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="tiepxuc_dongvat1" name="tiepxuc_dongvat" class="custom-control-input" data-name="tiepxuc_dongvat" data-type="number" data-control="radio"
                            value=1>
                        <label class="custom-control-label" for="tiepxuc_dongvat1">Có</label>
                    </div>
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="tiepxuc_dongvat0" name="tiepxuc_dongvat" class="custom-control-input" data-name="tiepxuc_dongvat" data-type="number" data-control="radio"
                            value=0>
                        <label class="custom-control-label" for="tiepxuc_dongvat0">Không</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Trực tiếp chăm sóc người bệnh truyền nhiễm</td>
                <td class="text-left">
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="chamsocnguoibenhtruyennhiem1" name="chamsocnguoibenhtruyennhiem" data-name="chamsocnguoibenhtruyennhiem" data-type="number" data-control="radio"
                            class="custom-control-input" value=1>
                        <label class="custom-control-label" for="chamsocnguoibenhtruyennhiem1">Có</label>
                    </div>
                    <div class="custom-control custom-radio m-1">
                        <input type="radio" id="chamsocnguoibenhtruyennhiem0" name="chamsocnguoibenhtruyennhiem" data-name="chamsocnguoibenhtruyennhiem" data-type="number" data-control="radio"
                            class="custom-control-input" value=0>
                        <label class="custom-control-label" for="chamsocnguoibenhtruyennhiem0">Không</label>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12 text-left ">
            <p style="font-size: 80%;">
                <b>Tôi cam kết những thông tin trên là đúng sự thật, tôi hiểu rằng nếu cung cấp sai thông tin có
                    thể dẫn đến những hậu quả nghiêm trọng.</b>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom:40px;">
        <!-- <div class="col-6" style="margin-bottom:10px;" id="inline-badge-capcha">
        </div> -->
        
        <div class="col-12 text-center" style="margin-bottom:10px;">
            <button class="btn btn-success" id="btn-luu"><i class="fa fa-save"></i> Lưu</button>
        </div>
        <div id="alert-box" class="col-12 text-center alert alert-warning hide" style="display: none;" role="alert">
            <span id="alert-message">Xin mời nhập <strong>Họ tên</strong>, <strong>năm sinh</strong> và <strong>quốc tịch</strong></span>
            
          </div>
    </div>
    <input type="hidden" id="ngon_ngu" value="{{ngon_ngu}}" data-name="ngon_ngu" data-type="string"/>
    <input type="hidden" value="{{cuakhau_id}}" data-name="cuakhau_id" data-type="number"/>

    
</div>


{% endblock %}