{% extends "medicalform/layout.html" %}

{% block head_script %}
<script src="/{{static_url}}/js/form/index.js"></script>
{% endblock %}


{% block content %}
<div class="container" style="font-size: x-large;">
    <div class="row" style="margin-top: 40px;">
        <div class="col col-md-12 text-center center">
            <p>Xin mời chọn ngôn ngữ!</p>
            <p>请选择您的语言!</p>
            <p>Please choose your language!</p>

        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-4 col-sm-4 col-xs-4 col-md-4 col-lg-4 text-center">
            <a id="vi" href="#">
                <img width="50px" src="/{{static_url}}/img/vietnam-flag-icon-256.png" /><br />
                <span>Việt&nbsp;Nam</span>
            </a>
        </div>
        <div class="col-4 col-sm-4 col-xs-4 col-md-4 col-lg-4 text-center">
            <a id="cn" href="#">
                <img width="50px" src="/{{static_url}}/img/china-flag-xs.png" /><br />
                <span>Chinese</span>
            </a>
        </div>
        <div class="col-4 col-sm-4 col-xs-4 col-md-4 col-lg-4 text-center">
            <a id="en" href="#">
                <img width="50px" src="/{{static_url}}/img/united-kingdom-flag-xs.png" /><br />
                <span>English</span>
            </a>
        </div>
    </div>
    <div>
        <label class="mt-5">Lịch sử kê khai</label></div>

    <div class="input-group mb-3">
        <input type="text" class="form-control inputSohochieu" placeholder="Nhập số hộ chiếu để xem lịch sử"
            aria-label="Nhập số hộ chiếu để xem lịch sử" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary timkiem" type="button"><i class="fa fa-search"
                    aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="border pl-2 mb-5 lichsumoinhat" style="border-radius: 5px;position: relative;">
        <div class="row border-bottom mt-2">
            <div class="col-5">
                <label>Mã tờ khai:</label>
                <label style="float: right;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
            </div>
            <div class="col-7">
                <b id="id" style="color: red;"></b>
            </div>
            
            <!-- <a id="eye" href="#" style="font-size:0.7em;float: right;color: #212529;position: absolute;top:-3px;right:3px"><i
                    class="fa fa-eye" aria-hidden="true"></i></a> -->
        </div>
        <div class="row">
            <div class="col-5" style="font-size: 0.7em;">
                <label>Họ và tên:</label>
                <label style="float: right;"><i class="fa fa-angle-double-right" aria-hidden="true"></i></label>
            </div>
            <div class="col-7" style="font-size: 0.7em;"><label id="hoten"></label></div>
        </div>
        <div class="row">
            <div class="col-5" style="font-size: 0.7em;"><label>Ngày khai:</label><label style="float: right;"><i
                        class="fa fa-angle-double-right" aria-hidden="true"></i></label></div>
            <div class="col-7" style="font-size: 0.7em;"><label id="ngaykekhai"></label></div>
        </div>
    </div>
    <div id="lichsu"></div>

</div>
{% endblock %}